# Assignment 1

**Content Based**

Main Idea: Recommend items rated highly by him earlier.

**Collaborative System**

Recommend items rated high by other customers having same customer profile.

In the following table `A`,`B`,`C` and `D` are the people with their respective ratings for films. 


|   | A   | B   | C   | D   |
|-  |-  |-  |-  |-  |
| Film 1  | 0.3   | 0.1   | 0.4   | 0.9   |
| Film 2  | 0.3   | 0.8   | 0.7   | 0.7   |
| Film 3  | 0.4   | 0.2   | 0.6   | 0.4   |
| Film 4  | 0.6   | 0.4   | 0.3   | 0.2   |

Cosine similarity is given by :

$$Cos(x, y) = x . y / ||x|| \times ||y||$$,

where,

$x,y$ are vectors

$x.y$ is dot product

$||x||$ is norm of $x$

$||y||$ is norm of $y$



**Example:** Here, Film 1 and Film 2 have ratings $(0.3, 0.1, 0.4, 0.9)$ and $(0.3, 0.8, 0.7, 0.7)$ by user $A, B, C$ and $D$ respectively. 

Let, 

$x=[ 0.3, 0.1, 0.4, 0.9 ]$ and

$y=[ 0.3, 0.8, 0.7, 0.7 ]$

There dot product:

 $x.y= 0.3 \times 0.3 + 0.1 \times 0.8 + 0.4 \times 0.7 + 0.9 \times 0.7 = 1.08$

 $||x||= \sqrt{(0.3)^2 + (0.1)^2 + (0.4)^2 + (0.9)^2} = 1.03$

 $||y||= \sqrt{(0.3)^2 + (0.8)^2 + (0.7)^2 + (0.7)^2} = 1.30$

 Hence, Cosine similarity is = $(x . y) / ||x|| \times ||y|| = 0.79$

In [ ]:
# calculate dot product.

import numpy as np

a = [0.3, 0.1, 0.4, 0.9]

b = [0.3, 0.8, 0.7, 0.7]

print(np.dot(a, b))

1.08

In [ ]:
# Calclate Norm of a and b

from numpy import linalg as LA

print(LA.norm(a))

print(LA.norm(b))

1.03440804327886
1.307669683062202

In [ ]:
# Calculate cosine similarity as follows:

cos_sim_a_b= np.dot(a, b)/(LA.norm(a)*LA.norm(b))
cos_sim_a_b

0.7984244199379004

Question: Find out the two movies showing the highest cosine similarity out of all?

Hint:

1. Save all the ratings of the film in the 2D list. 

2. Use for loop and calculate cosine similarity for each pair. 

3. Return the maximum of cosine similarity value.

In [ ]:
rating=[	[0.3,	0.1,	0.4,	0.9],
	[0.3,	0.8,	0.7,	0.7],
	[0.4,	0.2,	0.6,	0.4],
	[0.6,	0.4,	0.3,	0.2]]

In [ ]:
import numpy as np

from numpy import linalg as LA

max=0

film1=0
film2=0

for i in range(4):
  for j in range(i):
    if max<np.dot(rating[i], rating[j])/(LA.norm(rating[i])*LA.norm(rating[j])):
      max=np.dot(rating[i], rating[j])/(LA.norm(rating[i])*LA.norm(rating[j]))
      film1=i
      film2=j

print(max)
print(film1)
print(film2)

0.8832055150452626
2
1

For Users:

In [ ]:
rating=np.array(rating)
rating[0]

array([0.3, 0.1, 0.4, 0.9])

In [ ]:
rating=np.transpose(rating)

In [ ]:
import numpy as np

from numpy import linalg as LA

max=0

user1=0
user2=0

for i in range(4):
  for j in range(i):
    if max<np.dot(rating[i], rating[j])/(LA.norm(rating[i])*LA.norm(rating[j])):
      max=np.dot(rating[i], rating[j])/(LA.norm(rating[i])*LA.norm(rating[j]))
      user1=i
      user2=j

print(max)
print(user1)
print(user2)

0.8952737857857513
3
2

Predict the best movie for User4 using:

1. Content Based.

2. Collaborative System.

#Assignment 2

Fill in the missing Values:

**Normalization:**

|   | A   | B   | C   | D   |
|-  |-  |-  |-  |-  |
| Film 1  | 0.3   | -  | 0.4   | 0.9   |
| Film 2  | -  | 0.8   | 0.7   | -   |
| Film 3  | 0.4   | 0.2   | -  | 0.4   |
| Film 4  | 0.6   | - | 0.3   | 0.2   |

In [ ]:
rating1=[	[0.3,	0.0,	0.4,	0.9],
	[0.0,	0.8,	0.7,	0.0],
	[0.4,	0.2,	0.0,	0.4],
	[0.6,	0.0,	0.3,	0.2]]

In [ ]:
import numpy as np

cos_si = [[0]*4]*4

print(cos_si)

for i in range(4):
  for j in range(4):
      print(np.dot(rating1[i], rating1[j])/(LA.norm(rating1[i])*LA.norm(rating1[j])))

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
1.0000000000000002
0.2558384863679222
0.7770286898858113
0.6660245913306955
0.2558384863679222
1.0
0.25085889823562596
0.28221626051507914
0.7770286898858113
0.25085889823562596
0.9999999999999999
0.7619047619047619
0.6660245913306955
0.28221626051507914
0.7619047619047619
1.0

---

# Assignment 3

---

In [ ]:
#https://www.kaggle.com/shubhammehta21/movie-lens-small-latest-dataset?select=ratings.csv

In [ ]:
import numpy as np
import pandas as pd
from math import sqrt
import matplotlib.pyplot as plt
%matplotlib inline

movies= pd.read_csv('/content/movies.csv')
ratings=pd.read_csv('/content/ratings.csv')

In [ ]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:

movies['title'] = movies.title.str.replace('(\(\d\d\d\d\))', '')

movies['title'] = movies['title'].apply(lambda x: x.strip())

In [ ]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
movies=movies.drop(columns='genres')

In [ ]:
movies.head()

   movieId                        title
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

In [ ]:
movies.shape

(9742, 2)

In [ ]:
ratings=ratings.drop(columns='timestamp')

In [ ]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0